@import 'vars/colors';
@import 'vars/fonts';
@import 'scroll';

.developer-theme {
  font-family: $font-family--primary;
  font-size: $font-size--extra-small;
  color: $primary-color;
  background-color: $on-primary-color;
}


