html {
  height: 100%;
  width: 100%;
}

body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  background-image: url('../media/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: rem(200px) rem(200px);
}
