@import '../icons/style.css';

@font-face {
  font-family: 'adrianarenal';
  src:  url('../icons/fonts/adrianarenal.eot?hjug9l');
  src:  url('../icons/fonts/adrianarenal.eot?hjug9l#iefix') format('embedded-opentype'),
  url('../icons/fonts/adrianarenal.ttf?hjug9l') format('truetype'),
  url('../icons/fonts/adrianarenal.woff?hjug9l') format('woff'),
  url('../icons/fonts/adrianarenal.svg?hjug9l#adrianarenal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
