$color--dark-grey-blue: #243d48;
$color--darkish-pink: #d44a6f;
$color--dark-peach: #e67962;
$color--light-mustard: #fdcb5b;
$color--pale-teal: #80c0a1;
$color--greyblue: #53b9c9;
$color--teal-blue: #0086b2;
$color--dusty-purple: #8b6391;
$color--grey: #a6b0b5;

//gray scale
$grey--0: #bbbbbb;
$grey--1: #adadad;
$grey--2: #787878;
$grey--3: #5a6465;
$grey--4: #3F4244;
$grey--5: #3c3f41;
$grey--6: #353739;
$grey--7: #313335;
$grey--8: #323232;
$grey--9: #2f2f2f;

$primary-color: #A9B7C6;
$on-primary-color: #3c3f41;
